
/* Style the heading with a festive font and color */
h1 {
  font-size: 80px;
  text-shadow: 1px 1px #000;
  animation: sparkle 1s infinite;
  text-align: center;

}

span {
  font-size: 80px;
  text-shadow: 1px 1px #000;
  text-align: right;

}

/* Define a sparkle animation */
@keyframes sparkle {
  0% { text-shadow: 1px 1px #fff; }
  50% { text-shadow: 2px 2px #fff; }
  100% { text-shadow: 1px 1px #fff; }
}